.idea
nohup.out
backup-home.log
gene_lengths
data_files
*.pdf
texput.log
main.log
main.aux
main.bbl
main.pdf
main.blg
supplements.log
supplements.aux
supplements.bbl
supplements.pdf
supplements.blg
supplements.toc
supplements.out
.log
*/.ipynb_checkpoints/*
.nfs*
output.csv
plots/phylogenetic_trees/ete3/plot.png
plots/phylogenetic_trees/ggtree/*.png
plots/grid_plot/*.png
.RData
.Rhistory
plots/notebooks/Animals_overall_boxplot.png
plots/notebooks/Plants_overall_boxplot.png
paper/images/overlapping/plants/*.png
paper/images/overlapping/animals/*.png
