.idea
nohup.out
backup-home.log
gene_lengths
data_files
*.pdf
texput.log
main.log
main.aux
main.bbl
main.pdf
main.blg
.log
*/.ipynb_checkpoints/*
.nfs*
output.csv
plots/phylogenetic_trees/ete3/plot.png
plots/phylogenetic_trees/ggtree/*.png
.RData
.Rhistory
plots/Animals_overall_boxplot.png
plots/Plants_overall_boxplot.png
paper/images/overlapping/plants/*.png
paper/images/overlapping/animals/*.png
